<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles/style.css' | relative_url}}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&icon_names=" rel="stylesheet">
</head>

<body>
  <script>
    window.MathJax = {
      tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
    };
  </script>

  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  
  
  <aside class="sidebar" id="sidebar">
    <div class="title">Crystal Meth<span class="material-symbols-outlined" id="sidebar-toggle">menu</span></div>

    {% for page in site.data.nav %}
      <a href="{{page.link | relative_url}}">{{page.name}}</a>
    {% endfor %}
  </aside>

  <main class="content" id="content">
    {{ content }}
  </main>

  <script>
    const toggleBtn = document.getElementById("sidebar-toggle");
    const sidebar = document.getElementById("sidebar");
    const content = document.getElementById("content");

    toggleBtn.addEventListener("click", () => {
      sidebar.classList.toggle("closed");
      content.classList.toggle("expanded");
    });
  </script>

</body>
</html>